* {
  margin: 0 auto;
  padding: 0 auto;
  user-select: none;
  accent-color: tomato;
}

header {
  .resolution-info {
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 18px;
    color: white !important;
  }
}

.modal-overlay {
  width: 100%;
  overflow: auto;
  padding: 10px;
  display: none;
  top: 0;
  left: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  .copyright {
    position: absolute;
    bottom: 5%;
    color: #f2f2f2;
    right: 5%;
  }
  .sm {
    margin-top: 2rem;
  }
  ul {
    margin-top: 1rem;
    li {
      padding: 5px 10px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .modal {
    color: #fff;
    max-width: 800px;
    width: 100%;

    box-sizing: border-box;
    font-family: "Lexend", sans-serif, "Segoe UI";
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* From https://css.glass */

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);

    background: rgba(48, 49, 53, 0.8);
    .modal-head {
      position: relative;
      background-color: rgba(60, 61, 65, 1);
      border-bottom: 1px solid #000;
      border-top-left-radius: 16px;
      padding: 8px;

      border-top-right-radius: 16px;
      h2 {
        text-align: center;
        font-size: 15px;
        font-weight: normal;
      }
      .closebtn {
        background: #fa514f;
        float: left;
        padding: 7px;
        margin-left: 5px;
        margin-top: 3px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        color: #fff;
      }
    }

    .modal-body {
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
      .background-settings {
        margin-top: 1rem;
        margin-left: 0px;
        max-width: 300px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        gap: 10px;
        .text {
          text-align: left;
        }
        label {
          cursor: pointer;
        }
      }
      input {
        font-family: "Lexend", sans-serif, "Segoe UI";
        width: 100%;
        background: #67696d;
        border: none;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
      }
      .radio {
        width: auto;
      }
      label {
        margin-left: 10px;
      }
      button {
        cursor: pointer;
        font-family: "Lexend", sans-serif, "Segoe UI";
        padding: 10px;
        &:hover {
          background: #fff;
          color: #000000;
        }
      }
      .changefocus {
        background: #67696d;
        border: none;
        color: #fff;
        border-radius: 5px;
        margin-top: 1rem;
      }
      .changebackground {
        background: #67696d;
        border: none;
        color: #fff;
        border-radius: 5px;
      }
      select {
        margin-left: 10px;
        padding: 5px;
        color: #fff;
        font-family: "Lexend", sans-serif, "Segoe UI";
        border-radius: 5px;
        background: #67696d;
      }
    }
  }
}

@-webkit-keyframes scaleTomiddle {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  overflow: hidden;
  background: #000;
  // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  //   url("../background/85327.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  -webkit-font-smoohting: antialiased;
  font-family: "Lexend", sans-serif, "Segoe UI";
  .background {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 100vh;
    animation: scaleTomiddle 1s ease;
    .settings {
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      bottom: 2.4%;
      position: absolute;
      right: 2%;
      cursor: pointer;
      font-size: 15px;
    }
    footer {
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      bottom: 4.4%;
      position: absolute;
      right: 6%;
      cursor: pointer;
      font-size: 15px;
      p {
        margin-top: -10px;
        font-size: 1.2vh;
      }
    }
    .pm {
      font-size: 20px;
      font-weight: bold;
    }
    .weather-info {
      position: absolute;
      top: 2%;
      right: 2%;
      font-family: "Lexend", sans-serif, "Segoe UI";
      color: #fff;
      .body-weather {
        display: flex;
        gap: 10px;
      }
    }
    .infosholat {
      font-size: 1.1vh;
      font-weight: normal;
    }
    .quote {
      color: #fff;
      font-size: 1vh;
    }
    .container {
      width: 100%;
      text-align: left;
      left: 3%;
      position: absolute;
      bottom: 5%;
      .clock {
        font-weight: lighter;
        font-size: 12vh;
      }

      h1 {
        font-size: 2.5vh;
        font-weight: 400;
        color: #fff;
        .hero-text {
          color: #b5edfc;
        }
      }
      .dateday {
        // float: right;
        // margin-right: 10px;
        color: #fff;

        font-size: 1.8vh;
      }
      .hero-section {
        animation: 1s slideUp ease-in-out;

        .focus {
          .today {
            font-size: 13px;
            font-weight: normal;
            color: #f2f2f2;
          }
          .textfocus {
            margin-top: 1rem;
            font-size: 15px;
            font-weight: normal;
            color: #fff;
          }
        }
        .hero-body {
          input {
            margin-top: 1rem;
            max-width: 700px;
            display: none;
            width: 100%;
            outline: none;
            background-color: #fff;
            border: 5px solid #7ea4af;
            font-family: "Lexend", sans-serif, "Segoe UI";
            box-sizing: border-box;
            padding: 20px;
            color: #000;
            font-size: 15px;
            border-radius: 50px;
          }
        }
        .copyright {
          color: #fff;
          margin-top: 1rem;
        }
      }
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(12px);
    opacity: 0;
  }
  to {
    transition: translateY(0px);
    opacity: 1;
  }
}
